<a href="https://colab.research.google.com/github/rushikesh648/pw-skills-assignment/blob/main/Python_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# q1.write a code to create a string with your name and print it
a = ("rushikesh")
print(a)
type(a)

rushikesh

str

In [ ]:
# q2.write a code to find a length of the string "hello world".
a = ("Hello world")
len(a)

11

In [ ]:
# q3.write a code to slice first 3 characters from the string "python programming".
a = ("python programming")
a[3:]

'hon programming'

In [ ]:
# q4.write code to convert the string "hello" in uppercase.
a = ("hello")
a.upper()

'HELLO'

In [ ]:
# q5.write a code to replace the word "apple" with "orange" in the string "i like apple".
a = ("i like apple")
a1 = a.replace("apple","orange")
print(a1)

i like orange

In [ ]:

# q6.write a code to create a list with the numbers 1 to 5 and print it.
a = list(range(1,5))
print(a)

[1, 2, 3, 4]

In [ ]:

# q7.write a code to append the number 10 to the list[1,2,3,4]
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
# q8.write a code to remove the number 3 from the list[1,2,3,4,5].
a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
# q9.write a code to access the second element in the list ['a','b','c','d'].
a = ['a','b','c','d']
print(a[1])
type(a)

b

list

In [ ]:
# q10.write a code to reverse the list [10,20,30,40,50].
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
# q11.write a code to create a tuple with the elements 10,20,30 and print it.
a = (10,20,30)
print(a)
type(a)

(10, 20, 30)

tuple

In [ ]:
# q12.write a code access the first element of the tuple ('apple','banana','cherry').
a = ('apple','banana','cherry')
print(a[0])

apple

In [ ]:
# q13.write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2).
a = (1,2,3,2,4,2)
a.count(2)

3

In [ ]:
# q14.write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
a = ('dog','cat','rabbit')
a1 = a.index('cat')
print(a1)

1

In [ ]:
# q15.write a code to check if the element "banana" is in the tuple ('apple','orange','banana').
a = ('apple','orange','banana')
if 'banana' in a:
 print("banana is present in list")
else:
 print("banana is not present in list")

banana is present in list

In [ ]:
# q16.write a code to create a set with the elements 1,2,3,4,5 and print it.
a = {1,2,3,4,5}
print(a)
type(a)

{1, 2, 3, 4, 5}

set

In [ ]:
# q17.write a code to add the element 6 to the set {1,2,3,4}.
a = {1,2,3,4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

In [ ]:
# q18.write a code to create a tuple with the elements 10,20,30 and print it.
a = (10,20,30)
print(a)
type(a)

(10, 20, 30)

tuple

In [ ]:
# q19.write a code to access the first element of the tuple ('apple','banana','cherry').
a = ('apple','banana','cherry')
print(a[0])

apple

In [ ]:
# q20.write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2).
a = (1,2,3,2,4,2)
a.count(2)

3

In [ ]:
# q21.write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
a = ('dog','cat','rabbit')
a1 = a.index('cat')
print(a1)

1

In [ ]:
# q22.write a code to check if the element "banana" is in the tuple ('apple','orange','banana').
a = ('apple','orange','banana')
if 'banana' in a:
 print("banana is in list")

banana is in list

In [ ]:
# q23.write a code to create a set with the elements 1,2,3,4,5 and print it.
a = {1,2,3,4,5}
print(a)
type(a)

{1, 2, 3, 4, 5}

set

In [ ]:
# q24.write a code to add the element 6 to the set {1,2,3,4}.
a = {1,2,3,4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

Q1.what are data structures,why are they important?
<h5>Ans:<h5>Data structures are a way to organize data so that it can be used by a computer program or system.<h5>They are a fundamental component of computer science and are important because they:
<h5>Make data efficient:
Data structures allow users to store, organize, and work with data efficiently.
<h5>Enable higher-level data operations:
Data structures combine primitive data types like numbers, characters, and integers into a cohesive format. This allows for higher-level data operations like sorting, searching, insertion, and deletion.

Q2.Explain the difference between mutable and immutable data types with example?
Ans:
<h5>> mutable:objects whose state or value can be changed after they are created.
Example: lists,dictionary,sets.
<h5>> immutable:objects whose state or value can not be changed once they are created.
Example:integer,floats,string,tuples,frozensets.

Q3.what are the main differences between lists and tuples in python?
<h5>Ans:<h5>lists:it is an mutable objects that means it is modified.
<h5> tuples:it is an immutable objects that means it is can not be changed.

Q4.describe how dictionaries store data?
Ans:dictionaries are used store data values in key:value pairs.

Q5.why might you use a set instead of a list in python?
<h5>Ans:because sets can not have multiple occurrences of the same element.

Q6.what is a string in python,and how is it different from a lists?
<h5>ans: a string is a sequence of character between single or double quotes.
A lists is a sequence of items,where each item could be anything(integer,float,string).

Q7. How do tuples ensure  data integrity in python?
<h5>ans:tuples are immutable to ensure that there contents remain constant throught their lifecycle,guaranteeing data integrity and reliability.

Q8.what is a hash table,and how does it relate to dictionaries in python?
<h5>ans:a hash table is a data structure that stores key-value pairs,and dictionaries are built using hash tables.

Q9.can lists contain different data types in python?
<h5>ans: although its not really common,a list can also contain a mix of python types including string,floats and boolean.

Q10.explain why strings are immutable in python.
<p>ans: in python strings are made immutable so that programmers can not alter the content of the object.this avoids unnecessary bugs.</p>

Q11.what advantages do dictionaries offer over lists for certain tasks?
<p>ans: python dictionaries allow us to associate a value to unique key,and then to quickly access this value.
In lists it can contain duplicate elements.</p>

Q12.describe a scenario where using a tuple would be preferable over a list?
<p>ans: use a tuple if you need an immutable collection where the elements wont change after creation.tuples are generally faster and more memory efficient than list,making them better for fixed collections,especially as dictionary keys or when iteration speed is crucial.</p>

Q13.how do sets handle duplicate values in python?
<p>ans: items of a set in python are immutable,do not duplicate values,and un ordered.thus, items in a set do not appear in a stipulated manner,i.e,they can appear in a different order every time it is used.</p>

Q14.how does the "in" keyword work differently for lists and dictionaries?
<p>ans: "in" operator is used in dictionary at the execution time is about the same as for set.
 and in list execution time is same as for lists but key-value() pair is unique.</p>

Q15.can you modify the elements of the tuple?explain why or why not.
<p>ans: Once a tuple is created,you can not change its value.tuples are  unchangeable,or immutable as it also is called.</p>

Q16.what is a nested dictionary,and give an example of its use case.
<p>ans: in python,a nested dictionary is a dictionary inside a dictionary.its a collection of dictionaries into one single dictionary.here is nested_dict is a nested dictionary with the dictionary dictA and dictB.</p>

Q17.describe the time complexity of accessing elements in dictionary.
<p>ans: the time complexity of retriving a value by its key in a dictionary is O(1).</p>

Q18.in what situation are lists preferred over dictionaries?
<p>ans: to store large amount of data for easy and quick access.</p>

Q19.why are dictionaries considered unordered and how does that affect data retrieval?
<p>ans: python dictionaries are not intended to be in order.you should be able to iterate over the dictionary normally or use popitem().you should be able to iterate over the dictionary normally or use popitem().</p>

Q20.explain the difference between a list and a dictionary in terms of data retrieval?
<p>ans: A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.</p>